/* Css Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.main-container{
    height: 20rem;
    width: 20rem;
    margin: auto;
    margin-top: 8rem;
    background-color: #f6f6f6;
    box-shadow:9px 9px 23px -4px rgba(109,128,166,0.67);
}
.main-container .sub-container{
    padding: 1rem;
}
.main-container .sub-container h4{
    margin-left: 5rem;
}
.main-container .sub-container h6{
    margin-left: 4rem;
    margin-top: 1rem;
    font-size: x-small;
}
.main-container .sub-container p{
    font-size: x-small;
    margin-top: 1rem;
}
.main-container .sub-container input{
    margin-left: 4rem;
}
.main-container .sub-container button{
    height: 2rem;
    width: 11rem;
    color: white;
    background-color: #17273a;
    margin-left: 4rem;
    margin-top: 1rem;
}
.main-container .sub-container button:hover{
    color: #17273a;
    background-color: white;
    cursor: pointer;
}